*{
    margin: 0px;
    padding: 0px;
}
body{
  /* display: flex; */
    background-color: #04AA6D;
    
}
p{
  color: aliceblue;
    position: relative;
    top: 50%;  
    width:13em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.966);
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(100%);  
    font: italic small-caps bold 16px/2 cursive;  
    animation: p 1s steps(30) 4s 1 normal both,
    blinkTextCursor 500ms steps(30)infinite normal;

}
@keyframes p{
  from{width:0em;}
  to{width:13em;}
}
.oppning{
    /* background-color: rgb(70, 101, 136); */
    background-image: url(/wp6821994.jpg);
    width: auto;
    height: auto;
    font: italic small-caps bold 20px/2 caption;
    text-align: center;
    text-size-adjust: 30px;
}
.ma{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  font-family: Copperplate, Papyrus, fantasy;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;}
  h1{
    color: #484848;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
    text-align: center;
  }
        h1{
            color: #111010;
           font-size: 50px;
            font-weight: bold;
            font-family: monospace;
            letter-spacing: 7px;
            cursor: pointer
          }
          h1 span{
            transition: .5s linear
          }
          h1:hover span:nth-child(1){
            margin-right: 5px
          }
          h1:hover span:nth-child(1):after{
            content: "'";
          }
          h1:hover span:nth-child(2){
            margin-left: 30px
          }
          h1:hover span{
            color: #fff;
            text-shadow: 0 0 10px #fff,
                         0 0 20px #fff, 
                         0 0 40px #fff;
          }
          